Repository lolvOid/svgfusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: Update documentation links and remove obsolete browser API documentation
  README.md
  docs/browser-api.md
Due: prettier --write

chore(release): 1.15.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c308ff4dd19d333b2a1b994e633a018ff26ebdd5
Due: none

fix: Update README and package description for clarity; remove obsolete browser API documentation
  src/utils/name.ts
  src/utils/string.ts
  tests/__snapshots__/name.test.ts.snap
  tests/name.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.15.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6ea83ac7899bec8100bcd4537e7c0ed6e7f5078a
Due: none

fix: Update component name formatting to follow Microsoft .NET guidelines for acronyms and casing
  docs/src/components/Playground.tsx
  src/utils/string.ts
  tests/__snapshots__/name.test.ts.snap
  tests/name.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.15.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  57fa0dfb6a0bbce0b5281563191b61fd6111a570
Due: none

feat: update component naming and default props handling
  commitlint.config.js
  docs/src/components/Playground.tsx
  docs/src/pages/index.tsx
  src/cli.ts
  src/engine.ts
  src/generators/react.ts
  src/generators/vue.ts
  tests/__snapshots__/browser.test.ts.snap
  tests/__snapshots__/name.test.ts.snap
  tests/cli-integration.test.ts
  tests/name.test.ts
  tests/stroke-width-splitting.test.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  b8648947a79fda785c641c3ca3ebd518420b1a6e
Due: none

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix: Set default isFixedStrokeWidth and update vectorEffect
  demo/react-demo/src/components/icons/DemoBackCardColorIcon.tsx
  demo/react-demo/src/components/icons/DemoBrowserifyIconIcon.tsx
  demo/react-demo/src/components/icons/DemoGoldPersonIcon.tsx
  demo/react-demo/src/components/icons/DemoGooglePlusCircleIcon.tsx
  demo/react-demo/src/components/icons/DemoGradientIconIcon.tsx
  demo/react-demo/src/components/icons/DemoHeartLineIcon.tsx
  demo/react-demo/src/components/icons/DemoMagicTypeFilledColorSecondaryIcon.tsx
  demo/react-demo/src/components/icons/DemoSodaWaterIcon.tsx
  demo/vue-demo/src/components/icons/DemoBackCardColorIcon.vue
  demo/vue-demo/src/components/icons/DemoBrowserifyIconIcon.vue
  demo/vue-demo/src/components/icons/DemoGoldPersonIcon.vue
  demo/vue-demo/src/components/icons/DemoGooglePlusCircleIcon.vue
  demo/vue-demo/src/components/icons/DemoGradientIconIcon.vue
  demo/vue-demo/src/components/icons/DemoHeartLineIcon.vue
  demo/vue-demo/src/components/icons/DemoMagicTypeFilledColorSecondaryIcon.vue
  demo/vue-demo/src/components/icons/DemoSodaWaterIcon.vue
  src/generators/vue.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f3eee909de4922aaf72bbe276205443a2d4ac454
Due: none

chore(release): 1.16.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: Add stroke width splitting to icon generators and demos
  demo/generate-react-icons.js
  demo/generate-vue-icons.js
  demo/react-demo/src/components/icons/DemoBrowserifyIconIcon.tsx
  demo/react-demo/src/components/icons/DemoHeartLineIcon.tsx
  demo/vue-demo/src/components/icons/DemoBrowserifyIconIcon.vue
  demo/vue-demo/src/components/icons/DemoHeartLineIcon.vue
  src/generators/vue.ts
Due: eslint --fix, prettier --write

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b162c92954d5796be15ab5e0d06aa773cb29b72d
Due: none

feat: Add width, height, and strokeWidth controls to icon demos
  demo/react-demo/src/App.tsx
  demo/react-demo/src/components/icons/DemoBackCardColorIcon.tsx
  demo/react-demo/src/components/icons/DemoBrowserifyIconIcon.tsx
  demo/react-demo/src/components/icons/DemoGoldPersonIcon.tsx
  demo/react-demo/src/components/icons/DemoGooglePlusCircleIcon.tsx
  demo/react-demo/src/components/icons/DemoGradientIconIcon.tsx
  demo/react-demo/src/components/icons/DemoHeartLineIcon.tsx
  demo/react-demo/src/components/icons/DemoMagicTypeFilledColorSecondaryIcon.tsx
  demo/react-demo/src/components/icons/DemoSodaWaterIcon.tsx
  demo/vue-demo/src/App.vue
  demo/vue-demo/src/components/icons/DemoBackCardColorIcon.vue
  demo/vue-demo/src/components/icons/DemoBrowserifyIconIcon.vue
  demo/vue-demo/src/components/icons/DemoGoldPersonIcon.vue
  demo/vue-demo/src/components/icons/DemoGooglePlusCircleIcon.vue
  demo/vue-demo/src/components/icons/DemoGradientIconIcon.vue
  demo/vue-demo/src/components/icons/DemoHeartLineIcon.vue
  demo/vue-demo/src/components/icons/DemoMagicTypeFilledColorSecondaryIcon.vue
  demo/vue-demo/src/components/icons/DemoSodaWaterIcon.vue
  src/generators/react.ts
  src/generators/vue.ts
  tests/__snapshots__/browser.test.ts.snap
Due: eslint --fix, prettier --write

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  95e48de5f7d30ff336f6416bfac4424e419d6300
Due: none

feat: Enhance SEO with metadata, structured data, and robots.txt
  docs/docusaurus.config.ts
  docs/src/components/StructuredData.tsx
  docs/src/theme/Layout/index.tsx
  docs/static/robots.txt
Due: none

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0c4c9118a2a62e19a91f831b1d199574baa685da
Due: none

feat: metdata
  docs/docusaurus.config.ts
Due: none

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  19a4a301b75cee1ea79dddd967d3519d9d4e7f65
Due: none

refactor: code structure for improved readability and maintainability
  .github/workflows/ci.yml
  README.md
  docs/docusaurus.config.ts
  docs/src/pages/index.tsx
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,tsx}) or (any of: tests/**/*.{ts,tsx})
  prettier --write: ((any of: src/**/*.{ts,tsx}) or (any of: tests/**/*.{ts,tsx})) or (any of: *.{md,json})
