Repository lolvOid/svgfusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: integrate semantic-release for automated versioning and publishing
  .github/workflows/ci.yml
  .npmignore
  .releaserc
  package-lock.json
  package.json
Due: prettier --write

chore: update vitest to version 3.2.4 and add @vitest/coverage-v8 dependency
  package-lock.json
  package.json
Due: prettier --write

chore: update Node.js version matrix to only include 20.x
  .github/workflows/ci.yml
Due: none

test: add unit tests for file and component name utilities
  tests/files.test.ts
  tests/name.test.ts
  tests/svgo.test.ts
Due: eslint --fix, prettier --write

fix: correct build output paths in package.json for npm publishing
  package.json
Due: prettier --write

chore: add GitHub Actions permissions for semantic-release
  .github/workflows/ci.yml
Due: none

feat: fix husky
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(release): 1.0.0-beta.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  546ba57521ebbe45351e05dcebfc9d5963fb1946
Due: none

chore(release): 1.0.0-beta.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8e37055acc5a01af08796007aaf73330ecdf2e6d
Due: none

feat: add CLI for SVG to React/Vue conversion and configure testing
  .gitignore
  .prettierignore
  commitlint.config.js
  src/cli.ts
  tsup.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore(release): 1.0.0-beta.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7e7b78cee796d197f91756ccd2fe0e71abaa4a58
Due: none

feat: add GitHub Action for bundle size reporting on pull requests
  .github/workflows/bundle_size.yml
Due: none

chore(release): 1.0.0-beta.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5faac9dc2b493f913692747a39a9d05b0c86f70b
Due: none

feat: update README and package.json
  README.md
  package.json
  src/cli.ts
  tsup.config.ts
Due: eslint --fix, prettier --write

chore(release): 1.0.0-beta.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0108eae9a1679bebe19e8839557861eb94e3e166
Due: none

feat: add figlet dependency and create ASCII art banner for CLI
  package-lock.json
  package.json
  src/cli.ts
Due: eslint --fix, prettier --write

chore(release): 1.0.0-beta.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3f876f2f3095894d6a75d2fb766fa55e06ae8bc9
Due: none

feat: enhance CLI with colored ASCII art banner and improved output messages
  src/cli.ts
Due: eslint --fix, prettier --write

chore(release): 1.0.0-beta.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1d4fc935a9e99bae16ea66a90a66a90568b0bf42
Due: none

feat: Initialize Docusaurus documentation site with essential components and styles
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-pr.yml
  docs/.gitignore
  docs/README.md
  docs/docs/api-reference.md
  docs/docs/cli-usage.md
  docs/docs/getting-started.md
  docs/docusaurus.config.ts
  docs/netlify.toml
  docs/package-lock.json
  docs/package.json
  docs/sidebars.ts
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/playground.tsx
  docs/static/.nojekyll
  docs/static/img/favicon.ico
  docs/static/img/logo.png
  docs/tsconfig.json
  logo.png
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.0.0-beta.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  691bb879f96c1e9ee7bb75c5795f0993d9324659
Due: none

chore: remove deploy documentation job from CI workflow
  .github/workflows/ci.yml
Due: none

feat: update permissions in GitHub workflows and enhance README layout
  .github/workflows/bundle_size.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-pr.yml
  README.md
  logo.png
  package.json
Due: prettier --write

chore(release): 1.0.0-beta.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a7f8cfe05deabc0d2ad1c0a5f8ec5505ebebdbf0
Due: none

feat: auto-deploy docs on main branch pushes
  .github/workflows/deploy-docs.yml
Due: none

Notes added by 'git notes add'
  ac82434729a6308c95bf60688f9e0d84ebb23081
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,tsx}) or (any of: tests/**/*.{ts,tsx})
  prettier --write: ((any of: src/**/*.{ts,tsx}) or (any of: tests/**/*.{ts,tsx})) or (any of: *.{md,json})
