Repository lolvOid/svgfusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add prefix and suffix options for component name formatting in CLI
  README.md
  docs/docs/cli-usage.md
  src/cli.ts
  tests/__snapshots__/name.test.ts.snap
  tests/name.test.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  da4ecb3607b67201a32d637f1850434c558a415b
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add CLI banner and color utilities; update README with CLI image
  .eslintrc.js
  README.md
  cli.png
  docs/docs/cli-usage.md
  src/cli.ts
  src/utils/banner.ts
  src/utils/colors.ts
Due: eslint --fix, prettier --write

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  08823a0d66d6a2017b81bda0237a1e2e702b42cd
Due: none

refactor: remove just-pascal-case dependency; implement pascalCase function in string utility
  package.json
  pnpm-lock.yaml
  src/utils/name.ts
  src/utils/string.ts
Due: eslint --fix, prettier --write

feat: add batch conversion for SVG files to React and Vue components
  .gitignore
  README.md
  examples/nested/sub1/icon1.svg
  examples/nested/sub2/icon2.svg
  examples/svgs/Gold Person.svg
  examples/svgs/Gradient-Icon.svg
  examples/svgs/Magic , Type=Filled, Color=Secondary.svg
  examples/svgs/back_card-color.svg
  examples/svgs/browserify_icon.svg
  examples/svgs/google-plus-circle.svg
  examples/svgs/soda-water.svg
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/core/batch-converter.ts
  src/core/processors/vue-processor.ts
  src/index.ts
  src/types/index.ts
  src/utils/files.ts
  src/utils/index-generator.ts
  src/utils/string.ts
  tests/cli-integration.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8bfe548ae8a249837594b5bb9fd89f420ddadbfb
Due: none

fix: update CLI image reference in README and CLI usage documentation
  README.md
  cli.png
  docs/docs/cli-usage.md
Due: prettier --write

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  630ae1e4f419ac5e0d55e315fa4869a904a95da4
Due: none

feat: export generateIndexFile and BatchConverter from respective modules
  src/index.ts
Due: eslint --fix, prettier --write

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b228c36cb135b6764c7f2b8a44797e5b55376bbe
Due: none

feat: add advanced features with split colors, fixed stroke width, and duplicate validation
  README.md
  docs/docs/api-reference.md
  docs/docs/cli-usage.md
  src/cli.ts
  src/core/batch-converter.ts
  src/core/converter.ts
  src/core/processors/svgr-processor.ts
  src/core/processors/vue-processor.ts
  src/core/react-converter.ts
  src/core/vue-converter.ts
  src/types/index.ts
  src/utils/color-extractor.ts
  src/utils/colors.ts
  src/utils/duplicate-validator.ts
  src/utils/index-generator.ts
  test-multicolor.svg
  tests/__snapshots__/batch-converter.test.ts.snap
  tests/__snapshots__/duplicate-validator.test.ts.snap
  tests/__snapshots__/split-colors.test.ts.snap
  tests/batch-converter.test.ts
  tests/duplicate-validator.test.ts
  tests/split-colors.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  20d564e53803beef24adcbc6b2b85ccd6fff99b1
Due: none

feat: complete architecture refactor and enhance component generation
  docs/pnpm-lock.yaml
  examples/color-split-test/BackCardColor.tsx
  examples/svgs/components/GradientIcon.tsx
  examples/svgs/test-components/GooglePlusCircle.tsx
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/core/batch-converter.ts
  src/core/converter.ts
  src/core/generator.ts
  src/core/parser.ts
  src/core/processors/svgr-processor.ts
  src/core/processors/vue-processor.ts
  src/core/react-converter.ts
  src/core/transformer.ts
  src/core/vue-converter.ts
  src/engine.ts
  src/features/accessibility.ts
  src/features/color-splitting.ts
  src/features/stroke-fixing.ts
  src/generators/react.ts
  src/generators/vue.ts
  src/index.ts
  src/utils/color-extractor.ts
  test-multicolor.svg
  tests/__snapshots__/split-colors.test.ts.snap
  tests/cli-integration.test.ts
  tests/split-colors.test.ts
  tsup.config.ts
Due: eslint --fix, prettier --write

feat: update CLI and engine to improve performance and usability
  .eslintrc.js
  src/cli.ts
  src/engine.ts
Due: eslint --fix, prettier --write

docs: improve CLI help and clean up README
  CHANGELOG.md
  README.md
  docs/docs/cli-usage.md
  package.json
  src/cli.ts
  src/core/generator.ts
  src/generators/react.ts
Due: eslint --fix, prettier --write

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  92570f56f4ddea56f4f657ac1838330116a80095
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,tsx}) or (any of: tests/**/*.{ts,tsx})
  prettier --write: ((any of: src/**/*.{ts,tsx}) or (any of: tests/**/*.{ts,tsx})) or (any of: *.{md,json})
