Repository lolvOid/svgfusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "tests/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

feat(parser): enhance SVG parsing with DOMParser and jsdom fallback
  .github/workflows/bundle_size.yml
  .github/workflows/ci.yml
  demo/react-demo/src/components/icons/DemoBackCardColorIcon.tsx
  demo/react-demo/src/components/icons/DemoBrowserifyIconIcon.tsx
  demo/react-demo/src/components/icons/DemoGoldPersonIcon.tsx
  demo/react-demo/src/components/icons/DemoGooglePlusCircleIcon.tsx
  demo/react-demo/src/components/icons/DemoGradientIconIcon.tsx
  demo/react-demo/src/components/icons/DemoHeartLineIcon.tsx
  demo/react-demo/src/components/icons/DemoMagicTypeFilledColorSecondaryIcon.tsx
  demo/react-demo/src/components/icons/DemoSodaWaterIcon.tsx
  demo/vue-demo/src/components/icons/DemoBackCardColorIcon.vue
  demo/vue-demo/src/components/icons/DemoBrowserifyIconIcon.vue
  demo/vue-demo/src/components/icons/DemoGoldPersonIcon.vue
  demo/vue-demo/src/components/icons/DemoGooglePlusCircleIcon.vue
  demo/vue-demo/src/components/icons/DemoGradientIconIcon.vue
  demo/vue-demo/src/components/icons/DemoHeartLineIcon.vue
  demo/vue-demo/src/components/icons/DemoMagicTypeFilledColorSecondaryIcon.vue
  demo/vue-demo/src/components/icons/DemoSodaWaterIcon.vue
  docs/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  src/core/parser.ts
  src/utils/svgo.ts
Due: eslint --fix, prettier --write

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b0a1eb297bb34dc62eb095dbeb43214cba9819e2
Due: none

fix: preserve SVG tag case in parser and add @types/jsdom
  package.json
  pnpm-lock.yaml
  src/core/parser.ts
Due: eslint --fix, prettier --write

chore(release): 1.21.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8cb9cb2b0245fa90e650be03274438b5d0a9b9ad
Due: none

feat: add fill/stroke normalization feature to SVG transformer
  .github/workflows/bundle_size.yml
  .github/workflows/ci.yml
  demo/vue-demo/src/components/icons/DemoBackCardColorIcon.vue
  demo/vue-demo/src/components/icons/DemoBrowserifyIconIcon.vue
  demo/vue-demo/src/components/icons/DemoGoldPersonIcon.vue
  demo/vue-demo/src/components/icons/DemoGooglePlusCircleIcon.vue
  demo/vue-demo/src/components/icons/DemoGradientIconIcon.vue
  demo/vue-demo/src/components/icons/DemoHeartLineIcon.vue
  demo/vue-demo/src/components/icons/DemoMagicTypeFilledColorSecondaryIcon.vue
  demo/vue-demo/src/components/icons/DemoSodaWaterIcon.vue
  docs/pnpm-lock.yaml
  pnpm-lock.yaml
  src/core/transformer.ts
  src/features/fill-stroke-normalization.ts
  src/generators/vue.ts
Due: eslint --fix, prettier --write

fix: remove unnecessary defineOptions call in Vue component snapshots
  tests/__snapshots__/browser.test.ts.snap
Due: none

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ef7d786786ca23893533f7bdbd7cddd695743b17
Due: none

feat: add accessibility and normalization options to CLI and generator
  .github/workflows/bundle_size.yml
  .github/workflows/ci.yml
  README.md
  demo/generate-react-icons.js
  demo/generate-vue-icons.js
  demo/react-demo/src/components/icons/DemoBackCardColorIcon.tsx
  demo/react-demo/src/components/icons/DemoBrowserifyIconIcon.tsx
  demo/react-demo/src/components/icons/DemoGoldPersonIcon.tsx
  demo/react-demo/src/components/icons/DemoGooglePlusCircleIcon.tsx
  demo/react-demo/src/components/icons/DemoGradientIconIcon.tsx
  demo/react-demo/src/components/icons/DemoHeartLineIcon.tsx
  demo/react-demo/src/components/icons/DemoMagicTypeFilledColorSecondaryIcon.tsx
  demo/react-demo/src/components/icons/DemoSodaWaterIcon.tsx
  demo/vue-demo/src/components/icons/DemoBackCardColorIcon.vue
  demo/vue-demo/src/components/icons/DemoBrowserifyIconIcon.vue
  demo/vue-demo/src/components/icons/DemoGoldPersonIcon.vue
  demo/vue-demo/src/components/icons/DemoGooglePlusCircleIcon.vue
  demo/vue-demo/src/components/icons/DemoGradientIconIcon.vue
  demo/vue-demo/src/components/icons/DemoHeartLineIcon.vue
  demo/vue-demo/src/components/icons/DemoMagicTypeFilledColorSecondaryIcon.vue
  demo/vue-demo/src/components/icons/DemoSodaWaterIcon.vue
  docs/docs/cli-usage.md
  docs/docs/node-api.md
  docs/pnpm-lock.yaml
  docs/src/components/Playground.tsx
  pnpm-lock.yaml
  src/browser.ts
  src/cli.ts
  src/generators/react.ts
  src/generators/vue.ts
  src/types/index.ts
  tests/__snapshots__/browser.test.ts.snap
Due: eslint --fix, prettier --write

fix: remove --frozen-lockfile option from pnpm install commands
  .github/workflows/ci.yml
Due: none

chore(release): 1.23.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  401416eaca9def3dd56a176ff77ad9184105c1e3
Due: none

feat: Update README with improved feature list and intro
  README.md
Due: prettier --write

chore(release): 1.24.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2d6bc13e956a9d1235cea1e6399ba885c961b9a9
Due: none

refactor: remove svgfusion-browser package and related configurations
  packages/svgfusion-browser/eslint.config.js
  packages/svgfusion-browser/jest.config.js
  packages/svgfusion-browser/package.json
  packages/svgfusion-browser/src/index.ts
  packages/svgfusion-browser/tsconfig.json
  packages/svgfusion-browser/tsup.config.ts
  packages/svgfusion-bundle/package.json
  packages/svgfusion-bundle/src/browser.ts
  packages/svgfusion-core/src/index.ts
  packages/svgfusion-core/tsup.config.ts
  packages/svgfusion-docs/docusaurus.config.ts
  packages/svgfusion-utils/src/browser.ts
  packages/svgfusion-utils/src/index.ts
  packages/svgfusion-utils/src/libs/color-extractor.ts
  pnpm-lock.yaml
Due: prettier --write

feat: add dynamic prettier loading for code formatting in React and Vue generators
  packages/svgfusion-react/package.json
  packages/svgfusion-react/src/libs/react.ts
  packages/svgfusion-vue/package.json
  packages/svgfusion-vue/src/libs/vue.ts
  pnpm-lock.yaml
Due: prettier --write

feat: update bundle size report workflow to include package-specific sizes and improve formatting
  .github/workflows/bundle_size.yml
Due: none

fix: update publishConfig to include registry URL and remove repository and bugs fields
  package.json
Due: prettier --write

Notes added by 'git notes add'
  84d1527e78cd24f04674b096fa00115190345c90
Due: none

chore(release): 1.24.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: enhance bundle size report formatting and summary details
  .github/workflows/bundle_size.yml
Due: none

fix: correct YAML syntax in bundle_size workflow trigger
  .github/workflows/bundle_size.yml
Due: none

fix: update package analysis comments and remove redundant notes from bundle size report
  .github/workflows/bundle_size.yml
Due: none

feat: update package versions and enhance bundling configuration
  .npmrc
  packages/svgfusion-bundle/package.json
  packages/svgfusion-bundle/tsup.config.ts
  packages/svgfusion-cli/src/index.ts
  packages/svgfusion-core/src/core/parser.ts
  packages/svgfusion-utils/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update bundling configuration and add figlet dependency
  packages/svgfusion-browser/tsup.config.ts
  packages/svgfusion-bundle/CHANGELOG.md
  packages/svgfusion-bundle/tsup.config.ts
  packages/svgfusion-cli/package.json
  packages/svgfusion-cli/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write

fix: update noExternal entries and add terserOptions for better bundling configuration
  packages/svgfusion-browser/tsup.config.ts
  packages/svgfusion-bundle/tsup.config.ts
Due: none

chore: update TypeScript configuration and dependencies across packages
  package.json
  packages/svgfusion-browser/jest.config.js
  packages/svgfusion-browser/src/index.ts
  packages/svgfusion-browser/tsconfig.json
  packages/svgfusion-browser/tsup.config.ts
  packages/svgfusion-bundle/eslint.config.js
  packages/svgfusion-bundle/jest.config.js
  packages/svgfusion-bundle/package.json
  packages/svgfusion-bundle/tsconfig.json
  packages/svgfusion-bundle/tsup.config.ts
  packages/svgfusion-cli/jest.config.js
  packages/svgfusion-cli/tsconfig.json
  packages/svgfusion-core/jest.config.js
  packages/svgfusion-core/tsconfig.json
  packages/svgfusion-demo/package.json
  packages/svgfusion-docs/tsconfig.json
  packages/svgfusion-react/eslint.config.js
  packages/svgfusion-react/jest.config.js
  packages/svgfusion-react/package.json
  packages/svgfusion-react/tsconfig.json
  packages/svgfusion-utils/jest.config.js
  packages/svgfusion-utils/tsconfig.json
  packages/svgfusion-vue/eslint.config.js
  packages/svgfusion-vue/jest.config.js
  packages/svgfusion-vue/package.json
  packages/svgfusion-vue/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

fix: include .cjs files in bundle size report calculation
  .github/workflows/bundle_size.yml
Due: none

feat: enhance bundle size report with total sizes and detailed file breakdown
  .github/workflows/bundle_size.yml
Due: none

feat: enhance svgfusion-cli with TypeScript support and batch processing capabilities
  README.md
  config/release.config.mjs
  eslint.config.js
  package.json
  packages/svgfusion-browser/README.md
  packages/svgfusion-browser/package.json
  packages/svgfusion-bundle/README.md
  packages/svgfusion-bundle/coverage/.gitkeep
  packages/svgfusion-bundle/package.json
  packages/svgfusion-bundle/release.config.mjs
  packages/svgfusion-bundle/tsconfig.json
  packages/svgfusion-cli/README.md
  packages/svgfusion-cli/package.json
  packages/svgfusion-cli/release.config.mjs
  packages/svgfusion-core/README.md
  packages/svgfusion-docs/docs/packages.md
  packages/svgfusion-docs/eslint.config.js
  packages/svgfusion-docs/sidebars.ts
  packages/svgfusion-react/README.md
  packages/svgfusion-utils/README.md
  packages/svgfusion-vue/README.md
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

fix: update netlify configuration for svgfusion-docs build paths and commands
  .github/workflows/ci.yml
  packages/svgfusion-docs/netlify.toml
Due: none

feat: update CLI structure and configuration for improved module handling and entry points
  .github/workflows/ci.yml
  packages/svgfusion-browser/src/index.ts
  packages/svgfusion-bundle/tests/cli-integration.test.ts
  packages/svgfusion-bundle/tests/stroke-width-splitting.test.ts
  packages/svgfusion-cli/jest.config.js
  packages/svgfusion-cli/package.json
  packages/svgfusion-cli/src/index.ts
  packages/svgfusion-cli/src/main.ts
  packages/svgfusion-cli/tsup.config.ts
  packages/svgfusion-core/jest.config.js
  packages/svgfusion-react/jest.config.js
  packages/svgfusion-vue/jest.config.js
Due: prettier --write

feat: add build step to CI workflow for package compilation
  .github/workflows/ci.yml
Due: none

fix: update release and prerelease scripts to use pnpm run for consistency
  package.json
Due: prettier --write

refactor: streamline release process by consolidating semantic-release commands
  .github/workflows/ci.yml
Due: none
