Repository lolvOid/svgfusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "tests/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

feat: enhance React and Vue generators to support size prop and improve SVG attribute handling
  .eslintrc.js
  src/generators/react.ts
  src/generators/vue.ts
Due: eslint --fix, prettier --write

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  671cdd0c0aa4604bf0f298fb23e3865469636a7b
Due: none

fix: update example directory paths in CLI integration tests
  tests/cli-integration.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0bd82f921c83f0ef6743b0592d2806479363f493
Due: none

feat: Add HeartLine icon and improve color handling
  commitlint.config.js
  demo/react-demo/src/App.tsx
  demo/react-demo/src/components/icons/HeartLine.tsx
  demo/react-demo/src/components/icons/index.ts
  demo/svgs/heart-line.svg
  demo/vue-demo/src/App.vue
  demo/vue-demo/src/components/icons/HeartLine.vue
  demo/vue-demo/src/components/icons/index.ts
  package.json
  pnpm-lock.yaml
  src/core/generator.ts
  src/core/transformer.ts
  src/generators/react.ts
  src/generators/vue.ts
  src/utils/color-extractor.ts
  test-fix.js
  tests/__snapshots__/split-colors.test.ts.snap
  tests/split-colors.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  060f2bb485fbfacc170cb0fef70b235a419e6816
Due: none

feat: Add "none" to SVG paths in icon components
  demo/react-demo/src/components/icons/BackCardColor.tsx
  demo/react-demo/src/components/icons/BrowserifyIcon.tsx
  demo/react-demo/src/components/icons/GoldPerson.tsx
  demo/react-demo/src/components/icons/HeartLine.tsx
  demo/react-demo/src/components/icons/MagicTypeFilledColorSecondary.tsx
  demo/react-demo/src/components/icons/SodaWater.tsx
  demo/vue-demo/src/components/icons/BackCardColor.vue
  demo/vue-demo/src/components/icons/BrowserifyIcon.vue
  demo/vue-demo/src/components/icons/GoldPerson.vue
  demo/vue-demo/src/components/icons/HeartLine.vue
  demo/vue-demo/src/components/icons/MagicTypeFilledColorSecondary.vue
  src/features/color-splitting.ts
  test-both.svg
  test-fill.svg
  test-minimal.svg
  test-output/SodaWater.vue
Due: eslint --fix, prettier --write

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  76b43ba6de15898c9bd3de537dc16d55471386b7
Due: none

chore: Remove unwanted files
  test-both.svg
  test-fill.svg
  test-fix.js
  test-minimal.svg
  test-output/SodaWater.vue
Due: none

feat: update docs
  README.md
  docs/docs/api-reference.md
  docs/docs/getting-started.md
Due: prettier --write

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  22a8848a238ab8ca589d9c1ff7feafd4d8ee1852
Due: none

feat: Add fixed stroke width toggle
  demo/generate-react-icons.js
  demo/generate-vue-icons.js
  demo/react-demo/src/App.tsx
  demo/react-demo/src/components/icons/BackCardColor.tsx
  demo/react-demo/src/components/icons/BrowserifyIcon.tsx
  demo/react-demo/src/components/icons/GoldPerson.tsx
  demo/react-demo/src/components/icons/GooglePlusCircle.tsx
  demo/react-demo/src/components/icons/GradientIcon.tsx
  demo/react-demo/src/components/icons/HeartLine.tsx
  demo/react-demo/src/components/icons/MagicTypeFilledColorSecondary.tsx
  demo/react-demo/src/components/icons/SodaWater.tsx
  demo/vue-demo/src/App.vue
  demo/vue-demo/src/components/icons/BackCardColor.vue
  demo/vue-demo/src/components/icons/BrowserifyIcon.vue
  demo/vue-demo/src/components/icons/GoldPerson.vue
  demo/vue-demo/src/components/icons/GooglePlusCircle.vue
  demo/vue-demo/src/components/icons/GradientIcon.vue
  demo/vue-demo/src/components/icons/HeartLine.vue
  demo/vue-demo/src/components/icons/MagicTypeFilledColorSecondary.vue
  demo/vue-demo/src/components/icons/SodaWater.vue
  src/core/transformer.ts
  src/features/color-splitting.ts
  src/features/stroke-fixing.ts
  src/generators/react.ts
  src/generators/vue.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  2df0c41f9196dec6045ab66def119b9d90b958d6
Due: none

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0d3abd06d5e917be6aeeb1821df1fa82be139013
Due: none

fix: Update documentation links and remove obsolete browser API documentation
  README.md
  docs/browser-api.md
Due: prettier --write
