Repository lolvOid/svgfusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "tests/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

chore(release): 1.0.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ded29464585099d1471b8cb558a04757dfc61bc2
Due: none

fix: update CI/CD workflow permissions and refine branch triggers
  .github/workflows/ci.yml
Due: none

fix: rename release job to clarify it as Release Beta
  .github/workflows/bundle_size.yml
  .github/workflows/ci.yml
  .gitignore
  coverage/.gitkeep
  docs/netlify.toml
  docs/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  release.config.js
  src/cli.ts
Due: eslint --fix, prettier --write

fix: add caching for pnpm store in CI/CD workflows
  .github/workflows/bundle_size.yml
  .github/workflows/ci.yml
Due: none

fix: update pull request ref to use github.head_ref for better accuracy
  .github/workflows/ci.yml
Due: none

fix: update CI/CD workflow permissions and refine branch triggers (#3)
  .github/workflows/bundle_size.yml
  .github/workflows/ci.yml
  .gitignore
  coverage/.gitkeep
  docs/netlify.toml
  docs/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  release.config.js
  src/cli.ts
Due: eslint --fix, prettier --write

chore(release): 1.0.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  36f0d55c682da7b0bdfba6790e56e01acf6af074
Due: none

fix: enhance SVG input handling to support both files and directories
  src/cli.ts
Due: eslint --fix, prettier --write

fix: enhance SVG input handling to support both files and directories"
  src/cli.ts
Due: eslint --fix, prettier --write

chore(release): 1.0.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e5ba02e625b08d74d81bff7f805d6c3f1a044c2c
Due: none

feat: add watch script and enhance color gradients in CLI output
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/utils/name.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f2bc3360c971a1b81c9a9bc63b46e1661f2918d5
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix: update npm version badge in README to use shield style
  README.md
Due: prettier --write

Notes added by 'git notes add'
  6750bd4d0dd0d9d8750202f62955862a0a9c72b2
Due: none

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add just-pascal-case library for improved component name formatting
  docs/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  src/utils/name.ts
Due: eslint --fix, prettier --write

refactor: simplify filename processing in svgToComponentName and enhance test coverage
  src/utils/name.ts
  tests/__snapshots__/name.test.ts.snap
  tests/name.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cd6d3155656828249a53b0d0c5ee4c73cefd12f1
Due: none

fix: update npm version badge in README to use standard style
  README.md
Due: prettier --write

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cb39c545a4711426ff8faf9ebe028e5056404e37
Due: none

feat: add prefix and suffix options for component name formatting in CLI
  README.md
  docs/docs/cli-usage.md
  src/cli.ts
  tests/__snapshots__/name.test.ts.snap
  tests/name.test.ts
Due: eslint --fix, prettier --write
