Repository lolvOid/svgfusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "tests/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

style: format README.md for improved readability
  README.md
Due: prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

fix: update homepage URL in package.json and refine prerelease settings in .releaserc
  .releaserc
  package.json
Due: prettier --write

feat: add funding link to support the project
  .github/FUNDING.yml
Due: none

fix: change export syntax from ES6 to CommonJS in release.config.js
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-pr.yml
  .releaserc
  README.md
  package.json
  release.config.js
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8d84cfd0052ce5c1e4ba2e6d9b63c5960ad6114c
Due: none

refactor: restructure SVG conversion architecture
  .eslintrc.js
  .npmrc
  README.md
  docs/docs/api-reference.md
  docs/docs/getting-started.md
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/pages/index.tsx
  docs/src/pages/playground.tsx
  jest.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/converters/react.ts
  src/converters/vue.ts
  src/core/converter.ts
  src/core/processors/svgr-processor.ts
  src/core/processors/vue-processor.ts
  src/core/react-converter.ts
  src/core/vue-converter.ts
  src/index.ts
  src/types/index.ts
  tests/files.test.ts
  tests/name.test.ts
  tests/svgo.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: migrate CI workflows to use pnpm for package management
  .github/workflows/bundle_size.yml
  .github/workflows/ci.yml
Due: none

fix: update CI workflow to use --no-frozen-lockfile for dependency installation
  .github/workflows/bundle_size.yml
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

fix: improve postinstall script to check for docs directory before installation
  package.json
Due: prettier --write

fix: update build commands in netlify.toml to use pnpm for consistency
  docs/netlify.toml
Due: none

fix: add overrides for test files in ESLint configuration
  .eslintrc.js
Due: none

fix: migrate tests from Vitest to Jest and update tsconfig types
  pnpm-lock.yaml
  tests/files.test.ts
  tests/name.test.ts
  tests/svgo.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  994e1a95781157c7c549dd320fbd676a307a8e12
Due: none

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix: reorganize CI workflow to build and upload documentation artifacts after release
  .github/workflows/ci.yml
  docs/pnpm-lock.yaml
Due: none

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  14d1389de2ac95e5afa8eed9c7fe3d0fedf157b9
Due: none

fix: update CI workflow to allow all branches and remove unnecessary build steps
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore(release): 1.0.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0fc4df8ae743383227919f452fdcf3a5c6fe3a14
Due: none

fix: simplify semantic release branches configuration and clean up plugin options
  release.config.js
Due: none

chore(release): 1.0.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write
